/* Poppins Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    animation: gradient 10s ease infinite;
    background: linear-gradient(90deg, #190555, #340ea5, #7b30d0, #190555) no-repeat;
    background-size: 200% 200%;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    max-width: 480px;
    width: 100%;
    border-radius: 8px;
    padding: 25px;
    margin: 85px auto 0;
    background-color: #FFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    cursor: pointer;
    display: block;
    transition: 0.4s ease-in-out;
}

.container .logo:hover {
    filter: invert();
    transform: rotate(-180deg);
}

.container .input-field {
    position: relative;
    height: 64px;
    width: 100%;
}

.input-field textarea {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    padding: 18px 45px 18px 15px;
    border: 1px solid #ccc;
}
.input-field textarea:focus{
    border-color: #7b30d0;
}
textarea::-webkit-scrollbar {
    display: none;
}

.input-field .note-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 24px;
    color: #707070;
}

.input-field textarea:focus ~ .note-icon {
    color: #7b30d0;
}


.container .todoLists {
    max-height: 380px;
    overflow-y: auto;
}

.todoLists .list {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #f2f2f2;
    padding: 20px 15px;
    border-radius: 8px;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
}

.todoLists .list input{
    height: 16px;
    min-width: 16px;
    accent-color: #7b30d0;
    pointer-events: none;
}
.list input:checked ~ .task {
    text-decoration: line-through;
}

.todoLists .list .task {
    margin: 0 30px 0 15px;
    word-break: break-all;
}

.todoLists .list i {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-left: 100px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #707070;
    padding: 5px;
    opacity: 0.6;
    display: none;
}

.todoLists .list:hover i {
    display: inline-flex;
}
.todoLists .list i:hover {
    opacity: 1;
}

.container .pending-tasks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.pending-tasks span {
    color: #333;
}

.pending-tasks .clear-button {
    padding: 6px 12px;
    outline: none;
    border: none;
    background-color: #7b30d0;
    color: #FFF;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    pointer-events: none;
    white-space: nowrap;
}

.clear-button:hover {
    background-color: #6b10d0;
}

.made {
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    cursor: pointer;
    text-decoration: none;
}

.made:hover {
    color: #FFF;
    opacity: 1;
    user-select: none;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 25px 10px;
    }

    .made {
        position: fixed;
        right: 0;
        bottom: 0;
        opacity: 0.1;
    }
    
    .made:hover {
        color: #FFF;
        opacity: 1;
        user-select: none;
    }
}

@keyframes gradient {

    0% {
      background-position: 0 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0 50%;
    }
  
  }